{% load static %}
<li>
    <div class="comment-user">
        {% if comentario.usuario.foto_perfil and comentario.usuario.foto_perfil.url %}
        <img src="{{ comentario.usuario.foto_perfil.url }}"
            alt="Foto de perfil de {{ comentario.usuario.nombre_usuario }}">
        {% else %}
        <img src="{% static 'default_profile.png' %}" alt="Foto de perfil por defecto">
        {% endif %}

        <div class="comment-content">
            <a href="{% url 'perfil_usuario' comentario.usuario.nombre_usuario %}">
                <strong>{{ comentario.usuario.nombre_usuario }}</strong>
            </a>

            {% if comentario.usuario.ciudad == None or comentario.usuario.ciudad != "" %}
            <p>Ciudad: No especificada</p>
            {% else %}
            <p>Ciudad: {{ comentario.usuario.ciudad|upper }}</p>
            {% endif %}

            <p>{{ comentario.fecha_publicacion|date:"d/m/Y" }}</p>
            <p>{{ comentario.contenido|linebreaks }}</p>
        </div>
    </div>
</li>