<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Álbumes</title>
</head>

{% extends 'principal.html' %}


<body>

    {% block contenido %}
    <a href="{% url 'index' %}">volver al inicio</a>
    <h1>Lista de Álbumes</h1>
    <ul>
        {% for album in albumes %}
        {% include 'album/album.html' %}
        {% empty %}
        <li>No hay álbumes disponibles para este usuario.</li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>

</html>