{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<nav>
    <figure>
        <img src="{% static 'images/Logo.png' %}" alt="" class="logo">
    </figure>
    <ul>

        <!--Perfil de Usuario (Ejemplo: usuario1)-->
        <li><a href="{% url 'perfil_usuario' 'usuario1' %}"><i class="fa-solid fa-user-astronaut"></i></a></li>

        <!--Feed de Usuario (Ejemplo: usuario1)-->
        <li><a href="{% url 'feed' 'usuario1' %}"><i class="fa-solid fa-satellite-dish"></i></a></li>

        <!--Lista de Álbumes (Ejemplo: usuario1)-->
        <li><a href="{% url 'lista_albumes' 'usuario1' %}"><i class="fa-solid fa-shuttle-space"></i></a></li>


        <!--Lista de Playlists (Ejemplo: usuario1)-->
        <li><a href="{% url 'lista_playlist' 'usuario1' %}"><i class="fa-solid fa-newspaper"></i></a></li>


        <!--Mensajes Privados (Ejemplo: Emisor 1, Receptor 2)-->
        <li><a href="{% url 'mensajes_privados' 1 2 %}"><i class="fa-solid fa-satellite"></i></a></li>

    </ul>
</nav>