<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Canciones de la Playlist</title>

</head>

{% extends 'principal.html' %}

<body>
    {% block contenido %}
    <a href="{% url 'lista_playlist' playlist.usuario.nombre_usuario %}">{{playlist.usuario.nombre_usuario
        }}</a><br>
    <a href="{% url 'index' %}">Volver al inicio</a>

    <h2>Canciones en la Playlist: {{ playlist.nombre }}</h2>

    <ul>
        {% for cancion in playlist.canciones.all %}
        {% include 'cancion/cancion-playlist.html' %}
        {% empty %}
        <li>No hay canciones en esta playlist.</li>
        {% endfor %}
    </ul>

    {% endblock %}
</body>

</html>