<!DOCTYPE html>
<html lang="en">

{% extends 'principal.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>

</head>

<body>

    {% block contenido %}

    <div class="feed">
        <h1>Feed</h1>
        <a href="{% url 'index' %}">Volver al inicio</a>

        <ul>
            {% for album in albumes_feed %}
            <li>
                {% if album.portada %}
                <img src="{{ album.portada.url }}" alt="Portada de {{ album.titulo }}">
                {% else %}
                <img src="{% static 'cancion_portadas/image.png' %}" alt="Portada por defecto">
                {% endif %}
                <h3>{{ album.titulo }}</h3>
                <p><strong>Artista:</strong> {{ album.artista }}</p>
                <p><strong>Subido por:</strong> {{ album.usuario.nombre_usuario }}</p>
                <p><strong>Fecha de subida:</strong> {{ album.fecha_subida|date:"d/m/Y" }}</p>
                <a href="{% url 'comentarios_album' album.id %}">Ver comentarios</a><br>
                <a href="{% url 'canciones_album' album.id %}">Ver canciones</a>

            </li>
            {% empty %}
            <li>No hay publicaciones en tu feed.</li>
            {% endfor %}
        </ul>
    </div>


    {% endblock %}
</body>

</html>